.tags_container {
    background-color: var(--primary-color);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px .8rem;
    width: fit-content;
    border-radius: 10px;
}

.tags_container span {
    font-size: .6rem;
}

@media screen and (max-width: 768px) {
    .tags_container span {
        font-size: 10px;
    }
}