:root {
    --primary-color: #FF6060;
    --color-white: #FFFFFF;
    --color-grey: #F6F6F6;
    --color-black: #000000;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--primary-color);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 168px);
    margin: 0 100px;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    main {
        margin: 0 20px;
        min-height: calc(100vh - 87px);
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }
}