:root {
    --primary-color: #FF6060;
    --color-white: #FFFFFF;
    --color-grey: #F6F6F6;
    --color-black: #000000;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--primary-color);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 168px);
}