.footer_container {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 210px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.footer_icon {
    fill: var(--color-white);
    height: 1.7rem;
    margin-bottom: 1.25rem;
}